@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background: url('../assets/rainGif.gif') no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;

  h1{
    margin-bottom: 5rem;
    font-size: 60px;
    color: #ebebeb;
    border: solid 1px black;
    border-radius: 20px;
    background-color: #00000086;
    padding: 40px;
  }


}