.Footer{
  margin-top: 4rem;
  color: #fff;
  padding: 30px;
  text-align: center;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #00000086;

  span{
    color: #d30000;
    font-size: 30px;
  }

  a{
    color: #e400d1;
    text-decoration: none;

    &:hover{
      color: #74006a;
    }
  }
}